
@font-face {
	font-family: 'Houschka Medium';
	src: url('HouschkaPro-Medium.eot');
	src: url('HouschkaPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('HouschkaPro-Medium.woff') format('woff'),
		url('HouschkaPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
